<%- include('./partials/header') %>

    <div class="container">
      <div class ='row'>
        <div class ='col-9 '>
            <img src="https://i.imgur.com/sLMihVY.png" class='img-thumbnail'   alt="plate-logo" >
        </div>
        <div class = 'col-3 my-auto'>
          <div class="row text-center ">
            <h1 id="logo"><%= title %></h1>
            <p>Welcome to <%= title %>
          </p></div>
          <div class="row text-center">
            <ul class="right">
          
              <% if (user) { %>
                  <a href="/logout">Log Out</a>
              <% } else { %>
                  <a href="/auth/google">Login with Google</a>
              <% } %>
  
          </ul>
          </div>
        </div>
      </div>
    </div>

<%- include('./partials/header') %>