@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500;1,600;1,900&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


/* body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
} */

a {
  color: #00B7FF;
}

#restaurant-id {
  border: none;
  color: white;
}

#restaurant-name {
  border: none;
  font-size: 24px;
  width: 100%;
}


#food-and-restaurants{
  padding-top: 100px;
}

#restaurant-view, #add-review {
  padding-top: 50px;
}
#restaurant-view h2{
  font-size: 50px;
}

#logo {
  font-size: 75px;
  color: red;
  font-weight: 900;
}

#reviews {
  padding: 20px;
}
