body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#restaurant-id {
  border: none;
  color: white;
}

#restaurant-name {
  border: none;
  font-size: 24px;
}