*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}


body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#restaurant-id {
  border: none;
  color: white;
}

#restaurant-name {
  border: none;
  font-size: 24px;
}


#food-and-restaurants{
  padding-top: 100px;
}

#restaurant-view{
  padding-top: 50px;
}
#restaurant-view h2{
  font-size: 50px;
}

#logo {
  font-size: 75px;
}