<%- include('../partials/header') %>

<div class=" container ">
  <div class="row text-center">
    <div class="col my-auto">
      <h1 id="logo">Plate</h1>
    </div>
  </div>
  <div class="row text-center justify-content-between ">
    <div class="col-2 my-auto">
      <a href="/home/restaurants" class="text-dark"><h3>Go Home</h3></a>
    </div>

    <div class="col-4 my-auto">
      <input class="form-control" type="text" placeholder="Search">
    </div>

    <div class="col-2 my-auto">
      <a href="/logout" class="text-dark"><h3>Log Out</h3></a>
    </div>
  </div>
</div>

    <div class="container" id="food-and-restaurants">
      <div class="row text-center justify-content-around">
        <div class="col-3">
          <div class="card" style="width: 22rem;">
            <div class="card-header">
              <h4>Trending Plates</h4>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><h5>Fried Chicken Sandwhich</h5></li>
              <li class="list-group-item"><h5>Matcha Cheesecake</h5></li>
              <li class="list-group-item"><h5>Cupcake</h5></li>
              <li class="list-group-item"><h5>Shrimp Taco</h5></li>
              <li class="list-group-item"><h5>Crispy Eggplant</h5></li>
            </ul>
          </div>
        </div>
        <div class="col-3">
          <div class="card" style="width: 22rem;">
            <div class="card-header">
              <h4>Top Restaurants Near You</h4>
            </div>
            <ul class="list-group list-group-flush">
              <% restaurants.forEach(function(rest){%>
              <li class="list-group-item"><a href="/home/restaurants/<%=rest.id%>" class="text-dark"><h5 ><%= rest.name %></h5> </a></li>
              <% }) %>
            </ul>
          </div>
        </div>
      </div>
    </div>






    
  </body>
</html>
